@import "tailwindcss";

body{
    font-family: "Outfit", sans-serif;
    color: #727171;
}

.font-highlight{
    font-family: "Caveat", cursive;
}

.font-heading{
    font-family: "Raleway", sans-serif;
}

/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
button{
    cursor: pointer
}